<%= form_for @track do |f| %>
  <%= f.fields_for :wallets do |w| %>
    <div class="form-group wallet-form">
      <%= w.label :address %>
      <%= w.text_field :address, class: 'form-control' %>
      <%= w.label :description %>
      <%= w.text_field :description, class: 'form-control' %>
    </div>
  <% end %>
  <%= f.submit 'Start Tracking', class: 'btn btn-primary' %>
<% end %>
