<strong>Summary - </strong>
DNR <%= number_with_precision(@track.total_dnr, precision: 8) %>
(
<%= number_to_currency(@track.total_secondary, unit: @track.currency_unit, precision: @track.currency_precision) %>
@
<%= link_to 'https://coinmarketcap.com/currencies/denarius-dnr/', target: '_blank', class: 'no-deco' do %>
  <span class="<%= @track.dnr_change < 0 ? 'red' : 'green' %>"> 
    <%= number_to_currency(@track.dnr_price, unit: @track.currency_unit, precision: @track.currency_precision) %>/DNR
    <%= number_to_percentage(@track.dnr_change, precision: 2) %>
  </span>
<% end %>
)
