<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChainTrack.IO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="mailto:deadcast@sent.com">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">
          <%= link_to 'ChainTrack.IO', :root %>
        </h3>
      </div>
      <%= yield %>
      <footer class="footer">
        <p>&copy; deadcast 2017</p>
      </footer>
    </div>
  </body>
</html>
